<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>UptownID | Coming Soon</title>

	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="container">
		<img class="icon" src="/babyblue.png"/>
		<img class="icon" src="/babypink.png"/>
		<img class="icon" src="/blacck.png"/>
		<img class="icon" src="/blue.png"/>
		<img class="icon" src="/green.png"/>
		<img class="icon" src="/grey.png"/>
		<img class="icon" src="/mint.png"/>
		<img class="icon" src="/orange.png"/>
		<img class="icon" src="/pink.png"/>
		<img class="icon" src="/purple.png"/>
		<img class="icon" src="/red.png"/>
		<img class="icon" src="/slime.png"/>
		<img class="icon" src="/turq.png"/>
		<img class="icon" src="/white.png"/>
		<img class="icon" src="/yellow.png"/>
		<div class="center">
			<h1>Coming Soon</h1>
			<img id="logo" src="/uptownidicon.png"/>
		</div>
	</div>

	<!-- include jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<!-- include the main js file -->
	<script src="/js/main.js"></script>
</body>
</html>